# Bonus: Temperature Analysis I

In [25]:
import pandas as pd
from datetime import datetime as dt

In [26]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [27]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"], infer_datetime_format = True)

In [28]:
# Set the date column as the DataFrame index
df = df.set_index(df["date"])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [30]:
from scipy import stats

In [32]:
# Filter data for desired months
june_data = df[df.index.month == 6]
dec_data = df[df.index.month == 12]

In [33]:
# Identify the average temperature for June
june_avg = june_data.mean()
june_avg

C:\Users\Emmanuel\AppData\Local\Temp\ipykernel_7576\561242083.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  june_avg = june_data.mean()
C:\Users\Emmanuel\AppData\Local\Temp\ipykernel_7576\561242083.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  june_avg = june_data.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [34]:
# Identify the average temperature for December
dec_avg = dec_data.mean()
dec_avg

C:\Users\Emmanuel\AppData\Local\Temp\ipykernel_7576\3443427596.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  dec_avg = dec_data.mean()
C:\Users\Emmanuel\AppData\Local\Temp\ipykernel_7576\3443427596.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dec_avg = dec_data.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [35]:
# Create collections of temperature data
june_temps = june_data["tobs"]
dec_temps = dec_data["tobs"]

In [36]:
# Run paired t-test
stats.ttest_ind(june_temps, dec_temps, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis